@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

.container {
    font-family: 'Reggae One', cursive;
    display: flex;
    position: absolute;
    z-index: 44;
    /* margin-left: 0px; */
    left: 50%;
    top: 10%;
}


.container>.right {
    overflow: hidden;
}

p,
label {
    font-size: 1.5em;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 1.5em 0;
    padding: 0;
}

ul>li {
    /* margin: 1.5em; */
    margin-bottom: .5em;
    font-size: 2.2em;
    color: #251e1e;
    background-color: rgba(13, 180, 166, 0.712);
    padding: 10px;
    border: none;

    cursor: pointer;
    transition: all 0.5s;
}

ul.featured>li {
    opacity: 0;
    transform: translate(140%, -0%);
    transform-style: preserve-3d;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.750, -0.015, 0.565, 1.055);
    transition-property: opacity, transform;
    transition-delay: calc(0.025s * (var(--length) - (var(--index) + 1)));
}



input[type=checkbox] {
    position: absolute;
    left: -5000px;


}

input[type=checkbox]:checked~ul li {
    margin: 40px;
    margin-top: 0;
    opacity: 1;
    transform: translateX(0%) ;
    transition-delay: calc(0.055s * var(--index));
}
input[type=checkbox]:checked~ul li:hover{
    transition: 0.1s all ;
    overflow: visible;
    transform: scale(1.2) ;
}

input[type=checkbox]:not(:checked) {
    margin: 40px;
    margin-top: 0;
    transition-delay: calc(0.025s * (var(--length) - (var(--index) + 1)));
}
input[type=checkbox]:not(:checked)~ul li {
    margin: 40px;
    margin-top: 0;
    transition-delay: calc(0.025s * (var(--length) - (var(--index) + 1)));
}

input[type=checkbox]:checked+label {
    color: white;
}

.hidden {
    display: none;
}