@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    overflow-y: scroll;
    overflow-x: hidden;
    background-image: linear-gradient(rgb(2, 3, 22), rgb(47, 35, 61));
    background-repeat: no-repeat;
    scroll-behavior: smooth;
    background-attachment: fixed;
    background-position-x: center;

    /* width: 100%; */
    height: 100%;
}
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(2, 0, 3);
    border-radius: 10px;
}

/* NAVBAR */

#Navbar {
    display: flex;
    /* border: 2px solid white; */
    justify-content: space-between;
    width: 34em;
    font-size: x-large;
    margin-top: 5px;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: 'Reggae One', cursive;
    padding: 10px;
}
.page-link {
    position: relative;
    text-decoration: none;
    color: white;
    overflow: hidden;
    /* border:2px solid white; */
    height: 40px;
}
#skill{
    cursor: pointer;
}

.link_bottom {
    transition: all 0.3s;
    position: absolute;
    bottom: 0;
    left: 110px;
}
.link_bottom_active {
  color: brown;

}
.page-link:hover .link_bottom {
    left: 0px;

}
#nav_bottom{
    width: 0%;
    transition: all 0.5s;
    top: -120px;
    left: 33px;
height: 59%;
z-index: 1;
width: 50%;
}
    
    /* #loaded{width: 50%;} */

#nav_bottom>#nav_bt_shape{
    border-radius: 50%;
    color: white;
    border: 2px solid wheat;
}


.page {
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    /* border: 2px solid white; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* BUDDHA */

#buddha_svg {
    
    align-items: center;
    /* border: 2px solid white; */
    position: absolute;
    animation: buddha 2s infinite alternate;
    transform-origin: center;
    z-index: 2;
    transition: all 1.0s;
}
.buddha_svg_top{
    top: 996%;
}
.buddha_svg_top_Active{
    top: 96%;
    left: 35%;

}
.buddha_svg_top_skill{
    top: 96%;
    left: 0%;
}
#buddha_moonlight_svg {
    z-index: 0;
    top: 375%;
    align-items: center;
    /* border: 2px solid white; */
    position: absolute;
    /* animation: buddha 2s infinite alternate; */
    transform-origin: center;
    animation: buddha_moonlight_svg 70s infinite;
    filter: drop-shadow(2px 4px 6px black);
}
@keyframes buddha_moonlight_svg{
from{
transform: rotate(0deg);
}
to{
    transform: rotate(360deg);

}
}

@keyframes buddha {
    from {
        transform: translate(0%, 0%);
    }
    to {
        transform: translate(0%, 3%);
    }
}
#buddha_svg:hover {
transform: scale(1.5)
}

/* TREE */
#tree{
position: absolute;
top: 50px;
right: -50px;
}

#leaf{
    animation: leaf 3s infinite alternate;
}
@keyframes leaf {
    from{
        transform: rotateY(0deg) rotateX(0deg);
    }
    to{
        transform: rotateY(20deg) rotateX(10deg);

    }
}

/* sky */

#sky{
    position: absolute;
    top: 50px;
    left: 26px;
width: 100%;
/* border: 2px solid white; */
    /* animation: sky 3s infinite alternate; */
    z-index: 0;
    display: flex;
}
.cloud{
    animation: cloud 3s infinite alternate;

}
@keyframes cloud {
    from{
        transform: rotateY(0deg) rotateX(0deg);
    }
    to{
        transform: rotateY(20deg) rotateX(10deg);

    }
}

/* building */
#bulding{
top: 245%;
width: 33%;
left: -20%;
    position: absolute;
}
